{% extends 'base.html' %}
{% block leftsection %}
<h2>Rental Duration Options and Payouts</h2>
<table>
    <tr>
        <th>Rental Duration</th>
        <th>Description</th>
        <th>Calculation</th>
    </tr>
    <tr>
        <td>15 Days</td>
        <td>Rent your book out for 15 days and receive 10% of the book's price as the rental payout.</td>
        <td>Payout = 10% of Book Price</td>
    </tr>
    <tr>
        <td>30 Days</td>
        <td>Rent your book out for 30 days and receive 15% of the book's price as the rental payout.</td>
        <td>Payout = 15% of Book Price</td>
    </tr>
    <tr>
        <td>45 Days</td>
        <td>Rent your book out for 45 days and receive 20% of the book's price as the rental payout.</td>
        <td>Payout = 20% of Book Price</td>
    </tr>
</table>
    <div id="displayArea"></div>
{% endblock %}
{% block main %}

    <h2>Enter Book Details:</h2>
    <form class="login-form-container" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">sell</button>
    </form>
 
    </div>
    <script>
        document.getElementById('id_price').addEventListener('input', function() {
            displayData();
        });

        function displayData() {
            var priceInput = parseFloat(document.getElementById('id_price').value);

            if (isNaN(priceInput)) {
                priceInput = 0;  // Set price to 0 if input is not a valid number
            }

            var displayArea = document.getElementById('displayArea');
            displayArea.innerHTML = '';  // Clear previous content

            // Calculate and display 20%, 10%, and 15% of the entered price
            var tenPercent = priceInput * 0.1;
            var fifteenPercent = priceInput * 0.15;
            var twentyPercent = priceInput * 0.2;

            // Create and append paragraph elements for each percentage calculation
            var tenPercentElement = document.createElement('p');
            tenPercentElement.textContent = "10% of Price: $" + tenPercent.toFixed(2);
            displayArea.appendChild(tenPercentElement);

            var fifteenPercentElement = document.createElement('p');
            fifteenPercentElement.textContent = "15% of Price: $" + fifteenPercent.toFixed(2);
            displayArea.appendChild(fifteenPercentElement);

            var twentyPercentElement = document.createElement('p');
            twentyPercentElement.textContent = "20% of Price: $" + twentyPercent.toFixed(2);
            displayArea.appendChild(twentyPercentElement);
        }
    </script>
{% endblock %}
</body>
</html>
