{% extends 'login.html' %}

{% block main %}
    <h2>Enter Book Details:</h2>
    <form class="login-form-container" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">sell</button>
    </form>
 
    </div>
    <script>
        document.getElementById('id_price').addEventListener('input', function() {
            displayData();
        });

        function displayData() {
            var priceInput = parseFloat(document.getElementById('id_price').value);

            if (isNaN(priceInput)) {
                priceInput = 0;  // Set price to 0 if input is not a valid number
            }

            var displayArea = document.getElementById('displayArea');
            displayArea.innerHTML = '';  // Clear previous content

            // Calculate and display 20%, 10%, and 15% of the entered price
            var tenPercent = priceInput * 0.1;
            var fifteenPercent = priceInput * 0.15;
            var twentyPercent = priceInput * 0.2;

            // Create and append paragraph elements for each percentage calculation
            var tenPercentElement = document.createElement('p');
            tenPercentElement.textContent = "10% of Price: $" + tenPercent.toFixed(2);
            displayArea.appendChild(tenPercentElement);

            var fifteenPercentElement = document.createElement('p');
            fifteenPercentElement.textContent = "15% of Price: $" + fifteenPercent.toFixed(2);
            displayArea.appendChild(fifteenPercentElement);

            var twentyPercentElement = document.createElement('p');
            twentyPercentElement.textContent = "20% of Price: $" + twentyPercent.toFixed(2);
            displayArea.appendChild(twentyPercentElement);
        }
    </script>
{% endblock %}
</body>
</html>
