{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

      <link rel="stylesheet" href="{% static 'css/services.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      {% block head %}
    <header>
        <nav>
            <a href="{% url 'shopurl' %}" style="color: black;"><div class="logo">
                <img src="{% static 'images/world-book-day.png' %}" alt="Book Rental System">
                <div id="logo-tag"><b>Book Rentalhub</b></div>
            </div>
            </a>
            
            <!-- <div class="navbar-div"> -->
            <div class="search-bar">
                <input type="text" placeholder="Search books...">
                <button type="submit">Search</button>
            </div>
            <div class="user-menu">
                <div class="dropdown">
                    <button class="dropbtn"><b>Menu</b></button>
                    <div class="dropdown-content">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'logouturl' %}">Logout</a>
                        <a href="#">Orders</a>
                        <a href="#">Wishlist</a>
                        <a href="#">Profile</a>
                        {% else %}
                        <a href="{% url 'loginurl' %}">Login</a>
                        <a href="{% url 'signupurl' %}">Signup</a>
                        {% endif %}
                        
                    
                    </div>
                </div>
                
                <div class="logo">
                    <a href="{% url 'sellurl' %}">
                    <img src="{% static 'images/sale.png' %}" alt="sell img">
                    </a>
                </div>
                <div class="logo">
                    <a href="#">
                    <img data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" src="{% static 'images/shopping-cart.png' %}" alt="Book Rental System">
                    

                    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                      <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                      </div>
                      <div class="offcanvas-body">
                        ...
                      </div>
                    </div>
                    </a>
                </div>
                <div class="dropdown">
                  <div class="logo">
                    <img src="{% static 'images/hamburger.png' %}" alt="Book Rental System">
                    
                </div>
                    <div class="dropdown-content">
                        <a href="{% url 'servicesurl' %}">Services</a>
                        <a href="{% url 'contacturl' %}">Contact</a>
                        <a href="#">FAQs</a>
                    </div>
                </div>
            <!-- </div> -->
        </div>
        </nav>
    </header>
    {% endblock %}
    <h1><CENTER>OUR SERVICES</CENTER></h1>
      <div class="wrapper">
         <div class="box">
            <div class="front-face">
               <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-arrows-angle-expand" viewBox="0 0 16 16">
                     <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707"/>
                   </svg>               </div>
               <span>Wide Selection</span>
            </div>
            <div class="back-face">
               <span>Wide selection</span>
               <p>
                Browse through a diverse collection of books covering various genres, subjects, and authors.
               </p>
            </div>
         </div>
         <div class="box">
            <div class="front-face">
               <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                     <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z"/>
                   </svg>               </div>
               <span>Affordable Rates</span>
            </div>
            <div class="back-face">
               <span>Affordable Rates</span>
               <p>
                Rent books at reasonable prices, making knowledge accessible to everyone.
               </p>
            </div>
         </div>
         <div class="box">
            <div class="front-face">
               <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-hourglass-split" viewBox="0 0 16 16">
                     <path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
                   </svg>               </div>
               <span>Flexible Rental Periods</span>
            </div>
            <div class="back-face">
               <span>Flexible Rental Periods</span>
               <p>
                Choose rental periods that suit your needs, whether it's a few days or several weeks.
               </p>
            </div>
         </div>
      </div>
      <!--uhjen-->
      <div class="wrapper">
        <div class="box">
           <div class="front-face">
              <div class="icon">
               <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
              </div>
              <span>Monetize your books</span>
           </div>
           <div class="back-face">
              <span>Monetize your books</span>
              <p>
                Earn money by listing books you own but use rarely, turning them into a valuable asset..
              </p>
           </div>
        </div>
        <div class="box">
           <div class="front-face">
              <div class="icon">
               <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                  <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                  <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                </svg>              </div>
              <span>Easy Listing Process</span>
           </div>
           <div class="back-face">
              <span>Easy Listing Process</span>
              <p>
                Quickly list your books on the platform with detailed descriptions and images.
              </p>
           </div>
        </div>
        <div class="box">
           <div class="front-face">
              <div class="icon">
               <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-microsoft-teams" viewBox="0 0 16 16">
                  <path d="M9.186 4.797a2.42 2.42 0 1 0-2.86-2.448h1.178c.929 0 1.682.753 1.682 1.682zm-4.295 7.738h2.613c.929 0 1.682-.753 1.682-1.682V5.58h2.783a.7.7 0 0 1 .682.716v4.294a4.197 4.197 0 0 1-4.093 4.293c-1.618-.04-3-.99-3.667-2.35Zm10.737-9.372a1.674 1.674 0 1 1-3.349 0 1.674 1.674 0 0 1 3.349 0m-2.238 9.488-.12-.002a5.2 5.2 0 0 0 .381-2.07V6.306a1.7 1.7 0 0 0-.15-.725h1.792c.39 0 .707.317.707.707v3.765a2.6 2.6 0 0 1-2.598 2.598z"/>
                  <path d="M.682 3.349h6.822c.377 0 .682.305.682.682v6.822a.68.68 0 0 1-.682.682H.682A.68.68 0 0 1 0 10.853V4.03c0-.377.305-.682.682-.682Zm5.206 2.596v-.72h-3.59v.72h1.357V9.66h.87V5.945z"/>
                </svg>              </div>
              <span>Responsive Support Team</span>
           </div>
           <div class="back-face">
              <span>Responsive Support Team</span>
              <p>
                Reach out to our dedicated support team for any inquiries, assistance, or concerns..
              </p>
           </div>
        </div>
     </div>
     {% block footer %}
    <footer class="site-footer">
        <div class="container">
            <div class="footer-contact">
                <h3>Contact Us</h3>
                <p>V Cube-Python Full stack Training institute in KPHB, Beside Annamayya Hotel, Dhanalaxmi Center</p>
                <p>Phone: (123) 456-7890</p>
                <p>Email: info@yourbookrentalsystem.com</p>
                <h3>Follow Us</h3>
                <ul class="social-icons">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    
                </ul>
            </div>
            <div class="footer-contact">
              <h3>services</h3>
              <ul>
                <li><a href="{% url 'servicesurl'%}">services</a></li>
                <li>contact</li>
                <li>FAQ's</li>
              </ul>
          </div>
          <div class="footer-contact">
            <p>Home</p>
            <p>Orders</p>
            <p>Wishlist</p>
            <p>Profile</p>
            <p>Sale</p>
            <p>Cart</p>
        </div>
            <div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.346849440282!2d78.3970879746292!3d17.490948599814566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91001b839a43%3A0xd7b2b88281cd678a!2sV%20Cube-Python%20Full%20stack%20Training%20institute%20in%20KPHB!5e0!3m2!1sen!2sin!4v1715056191252!5m2!1sen!2sin" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
        </div>
        <div class="legal-info">
            <div class="container">
                <p>Terms of Service | Privacy Policy</p>
            </div>
        </div>
    </footer>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

   </body>
</html>