{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Responsive Services Box | CodingNepal</title>
      <link rel="stylesheet" href="{% static 'css/services.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
    <h1><CENTER>OUR SERVICES</CENTER></h1>
      <div class="wrapper">
         <div class="box">
            <div class="front-face">
               <div class="icon">
                <img src="C:\Users\lilly\Downloads\clipboard-check-solid.svg" width="50" height="50">
               </div>
               <span>Wide Selection</span>
            </div>
            <div class="back-face">
               <span>Wide selection</span>
               <p>
                Browse through a diverse collection of books covering various genres, subjects, and authors.
               </p>
            </div>
         </div>
         <div class="box">
            <div class="front-face">
               <div class="icon">
                <img src="C:\Users\lilly\Downloads\indian-rupee-sign-solid.svg" width="50" height="50">
               </div>
               <span>Affordable Rates</span>
            </div>
            <div class="back-face">
               <span>Affordable Rates</span>
               <p>
                Rent books at reasonable prices, making knowledge accessible to everyone.
               </p>
            </div>
         </div>
         <div class="box">
            <div class="front-face">
               <div class="icon">
                <img src="C:\Users\lilly\Downloads\clock-solid.svg" width="50" height="50">
               </div>
               <span>Flexible Rental Periods</span>
            </div>
            <div class="back-face">
               <span>Flexible Rental Periods</span>
               <p>
                Choose rental periods that suit your needs, whether it's a few days or several weeks.
               </p>
            </div>
         </div>
      </div>
      <!--uhjen-->
      <div class="wrapper">
        <div class="box">
           <div class="front-face">
              <div class="icon">
                <img src="C:\Users\lilly\Downloads\hand-holding-dollar-solid.svg" width="55" height="55">
              </div>
              <span>Monetize your books</span>
           </div>
           <div class="back-face">
              <span>Monetize your books</span>
              <p>
                Earn money by listing books you own but use rarely, turning them into a valuable asset..
              </p>
           </div>
        </div>
        <div class="box">
           <div class="front-face">
              <div class="icon">
                <img src="C:\Users\lilly\Downloads\list-solid.svg" width="50" height="50">
              </div>
              <span>Easy Listing Process</span>
           </div>
           <div class="back-face">
              <span>Easy Listing Process</span>
              <p>
                Quickly list your books on the platform with detailed descriptions and images.
              </p>
           </div>
        </div>
        <div class="box">
           <div class="front-face">
              <div class="icon">
                 <img src="C:\Users\lilly\Downloads\list-solid.svg" width="50" height="50"> 
              </div>
              <span>Responsive Support Team</span>
           </div>
           <div class="back-face">
              <span>Responsive Support Team</span>
              <p>
                Reach out to our dedicated support team for any inquiries, assistance, or concerns..
              </p>
           </div>
        </div>
     </div>
   </body>
</html>