body {
    font-family: Arial, sans-serif;
    background-color: #afc3d9;
    margin: 0;
    padding: 0;
}

header{
    background-color:#37546d;
    color:black;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px; /* Adjust height as needed */
    padding-bottom: 0px;
}
.logo div{
    display: inline-flex;
    font-size:xx-large;

}

.search-bar input {
    padding: 8px;
    width: 400px;
    border: black solid;
    border-radius: 10px ;
}

.search-bar button {
    padding: 8px 15px;
    background-color: #19456b;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.search-bar button:hover{
    border-radius: 10px;
    background-color: #d8d3d3;
}

.user-menu {
    display: flex;
    padding-right: 20px;
    align-items: center;
}
.user-menu div{
    padding-left: 20px;
}

.dropdown {
    position: relative;
    margin-right: 10px;
}

.dropbtn {
    background-color:#37546d;
    color: black;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover {
    border-radius: 10px;
    background-color: #d8d3d3;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    border-radius: 10px;
    background-color: #d8d3d3;
}

.sell-link {
    color: black;
    text-decoration:none;
    padding: 8px 12px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-right: 10px;
}
.sell-link:hover {
    background-color: #d8d3d3;
    border-radius: 10px;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.site-footer {
    background-color: #f8f9fa;
    padding: 30px 0;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.footer-contact, .footer-social {
    float: left;
    width: 25%;
}

.footer-contact h3, .footer-social h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li a {
    color: #333;
    font-size: 24px;
}

.legal-info {
    background-color: #e9ecef;
    padding: 10px 0;
    text-align: center;
    color: #555;
    font-size: 14px;
}

#displayArea{
    color: red;
}

service_section {
    position: relative;
    background-color: #f8f8f8;
  }
  
  .service_section .heading_container h2 {
    text-transform: none;
  }
  
  .service_section .box {
    margin: 45px 0;
    text-align: center;
  }
  
  .service_section .box .img-box {
    height: 65px;
  }
  
  .service_section .box .img-box img {
    height: 100%;
    -webkit-filter: brightness(0);
            filter: brightness(0);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .service_section .box .detail-box {
    margin-top: 15px;
  }
  
  .service_section .box .detail-box h5 {
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .service_section .box .detail-box a {
    color: #19c880;
    font-weight: 600;
  }
  
  .service_section .box .detail-box a:hover {
    color: #8019c8;
  }
  
  .service_section .box:hover .img-box img {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }

  .product_section {
    background-color: #f5f5f5;
    margin-bottom: 45px;
  }
  
  .product_section .product_heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 45px;
  }
  
  .product_section .product_heading h2 {
    padding: 10px 20px;
    background-color: #19c880;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
  }
  
  .product_section .product_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 -10px;
  }
  
  .product_section .product_container .box {
    width: 355px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 10px 45px 10px;
  }
  
  .product_section .product_container .box .box-content {
    background-color: #ffffff;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
  }
  
  .product_section .product_container .box .box-content .img-box {
    margin: 45px 0;
  }
  
  .product_section .product_container .box .box-content .img-box img {
    height: 175px;
  }
  
  .product_section .product_container .box .box-content .detail-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .product_section .product_container .box .box-content .detail-box .text,
  .product_section .product_container .box .box-content .detail-box .like {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .product_section .product_container .box .box-content .detail-box .star_container {
    color: #e2ba1b;
  }
  
  .product_section .product_container .box .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 35px;
  }
  
  .product_section .product_container .box .btn-box a {
    display: inline-block;
    padding: 10px 30px;
    background-color: #8019c8;
    color: #ffffff;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
  }
  
  .product_section .product_container .box .btn-box a:hover {
    background-color: #541184;
  }
  

