/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
}

/* Full height background color (optional) */
body {
    background-color: #afc3d9; /* Light gray background */
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 1.5em; /* Heading font size */
    margin-bottom: 30px; /* Add spacing below heading */
}

.login-container {
    display: flex;
    max-width: 600px; /* Maximum width of the login container */
    margin: 20px;
    background-color: #fff; /* White background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft box shadow */
}


.right-section {
    flex: 1;
    padding: 40px;
}



.login-form-container {
    background-color: #f8f9fa; /* Light gray background for login form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft box shadow */
}


input[type],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color:#37546d;
    color: #fff; /* White text */
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #204564; /* Darker blue on hover */
}
